.img-height {
  height: 60vh;
  object-fit: cover;
}

.bg-background {
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-color {
  background-color: #EC6036;
}