.img-height {
  height: 60vh;
  object-fit: cover;
}

.title {
  padding: 80px 20px;
  text-align: center;
}
.title h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 3px;
  color: #EC6036;
}
.bg-background {
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-color {
  background-color: #EC6036;
}